html * {
  font-family: "Combo", system-ui;
}

body {
  text-align: center;
  background-color: rgb(165, 243, 217);
}

h1 {
  font-size: 40px;
}

#prizes, select, p, button {
  font-size: 20px;
}

img {
  height: 25vh;
  width: 30vh;
}

.hidden {
  display: none;
}